# Main files
*-main.py
personal_data/main.py
main_*.py
main.py
*-main.js
*-main_*.js

# caches
.mypy_cache
__pycache__
.DS_Store

# Editor config file
.editorconfig

# SQL files
main.sql
tmp_res
metal_bands.sql
names.sql
*-init.sql
*-main.sql
dump

# User files
.db_User.json
a.db

# Node modules
node_modules/
package-lock.json
package.json
database.csv

# Linter
.eslintrc.cjs
.eslintrc.js
babel.config.js
utils.js
